@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

.container {
  max-width: 890px;
  display: flex;
  margin: auto;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  flex-flow: column nowrap;
}

.header__heading--flex-wrap {
  display: flex;
  margin: auto;
  align-items: center;
}

.header__heading--flex-wrap::before {
  position: absolute;
  z-index: 1;
  content: "";
  align-self: center;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #1e1c1a;
}

.header__heading {
  margin-top: 30px;
  color: #1e1c1a;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 33px;
  background-color: white;
}

.header__heading--pick {
  background-color: #e7ff59;
}

.heading__caption {
  background-color: #3c3cce;
  min-height: 70px;
  margin: auto;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.heading__order--flex-wrap {
  max-width: 890px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 40px;
}

@media screen and (max-width: 837px) {
  .heading__order--flex-wrap {
    justify-content: center;
  }
}

.heading__video {
  flex-basis: 432px;
  display: flex;
  height: 235px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 837px) {
  .heading__video {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
}

/*
@media (max-width: 890px) {
  .heading__video {
    margin-right: 0px;
  }
*/
.heading__form {
  flex-basis: 406px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 837px) {
  .heading__form {
    min-height: 225px;
    margin-bottom: 40px;
  }
}

.heading__form input {
  display: flex;
  padding: 8px 20px;
  border: 1px solid #3c3cce;
  color: black;
}

.heading__form input::-webkit-input-placeholder {
  color: black;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 300;
}

.heading__input--button {
  align-self: center;
  box-sizing: border-box;
  text-decoration: none;
  color: #f84545;
  font-family: Roboto;
  padding: 6px 40px;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #F84545;
  border-radius: 20px;
}

.timer-field {
  background-color: #3c3cce;
}

.timer--flex-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 815px;
}

@media screen and (max-width: 663px) {
  .timer--flex-wrap {
    justify-content: center;
  }
}

.timer {
  flex-basis: 292px;
}

@media screen and (min-device-width: 320px) {
  .timer {
    justify-content: center;
  }
}

.timer__pdf {
  flex-basis: 456px;
}

.timer__caption {
  color: white;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 23px;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
}

#clockdivMain {
  margin-left: -1000px;
  border: 1px solid white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 18px 50px 18px 0px;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-family: Roboto;
  font-size: 43px;
  font-weight: 900;
  margin-bottom: 60px;
}

.timer__pdf {
  margin-top: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /*  margin-top: 70px; */
  background: url(../img/pdf-hand.png) no-repeat;
}

@media screen and (max-width: 463px) {
  .timer__pdf {
    background-size: 100%;
  }
}

.timer__pdf--caption {
  margin-top: 68px;
  flex-basis: 172px;
  margin-left: 105px;
  display: flex;
  color: #f84545;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
}

@media screen and (max-width: 466px) {
  .timer__pdf--caption {
    margin-top: 15%;
    margin-left: 23%;
    font-size: 14px;
  }
}

.main {
  background-color: #3c3cce;
}

.main__heading {
  margin: 0;
  color: white;
  font-family: "Brewery No2 W06";
  font-size: 58px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

@media screen and (max-width: 566px) {
  .main__heading {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .main__heading {
    font-size: 30px;
  }
}

.advantages--flex-wrap {
  display: flex;
  flex-flow: row  nowrap;
}

.advantages {
  flex-basis: 1200px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 1153px) {
  .advantages {
    justify-content: center;
  }
}

.advantages__item {
  flex: 0 0 576px;
  background-color: white;
  min-height: 131px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
  /*@media screen and (max-width: 320px) {
    width: 100%;

  }*/
}

.advantages__item:nth-child(1) img {
  margin-top: 6px;
}

.advantages__item:nth-child(2) img {
  margin-top: -14px;
}

.advantages__item:nth-child(3) img {
  margin-left: 25px;
}

.advantages__item:nth-child(4) img {
  height: 103%;
}

@media screen and (max-width: 580px) {
  .advantages__item {
    flex: 1 1 100%;
    /*  margin-top: 15%;
    margin-left: 23%;
    font-size: 14px;*/
  }
  .advantages__item .advantages__item img {
    flex: 1 1 10%;
  }
}

.advantages__number {
  font-size: 92px;
  color: #3a3ac6;
  margin-left: 50px;
  margin-right: 50px;
  align-self: flex-end;
  margin-bottom: -22px;
}

@media screen and (max-width: 580px) {
  .advantages__number {
    margin-left: 1%;
    margin-right: 2%;
  }
}

.advantages__text {
  margin: 0;
  flex-basis: 203px;
  color: black;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 100;
}

@media screen and (max-width: 580px) {
  .advantages__text {
    font-size: 2vh;
  }
}

@media screen and (max-width: 320px) {
  .advantages__text {
    font-size: 18px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #3c3cce;
  padding-bottom: 70px;
}

.footer--flex-wrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  flex: 0 0 830px;
  align-items: center;
}

@media screen and (max-width: 1153px) {
  .footer--flex-wrap {
    flex: 0 0 auto;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 476px) {
  .footer--flex-wrap {
    flex: 0 0 100%;
  }
}

.footer__button {
  flex-basis: 445px;
  min-height: 111px;
  color: white;
  margin-right: 125px;
  /* костыль*/
  border-top-left-radius: 56px;
  border-bottom-left-radius: 56px;
  border-top-right-radius: 56px;
  border-bottom-right-radius: 56px;
  text-decoration: none;
  background-color: #f84545;
  font-family: "A G Foreigner Medium C";
  font-size: 48px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1153px) {
  .footer__button {
    margin-right: 0px;
    align-content: center;
    margin: auto;
    margin-bottom: 25px;
  }
}

#clockdivBottom {
  flex-basis: 331px;
  color: #f7f7f7;
  font-family: "Swiss721 B T";
  font-size: 59px;
  font-weight: 900;
}

@media screen and (max-width: 1153px) {
  #clockdivBottom {
    flex-basis: auto;
    margin: auto;
  }
}
