.edge--bottom {
  position: relative;
  z-index: 1; }
  .edge--bottom:after {
    background: inherit;
    background-image: none;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%; }

.edge--bottom--reverse {
  position: relative;
  z-index: 1; }
  .edge--bottom--reverse:after {
    background: inherit;
    background-image: none;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.edge--top {
  position: relative;
  z-index: 1; }
  .edge--top:before {
    background: inherit;
    background-image: none;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }

.edge--top--reverse {
  position: relative;
  z-index: 1; }
  .edge--top--reverse:before {
    background: inherit;
    background-image: none;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0; }

.edge--both {
  position: relative;
  z-index: 1; }
  .edge--both:before, .edge--both:after {
    background: inherit;
    background-image: none;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }
  .edge--both:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%; }

.edge--both--reverse {
  position: relative;
  z-index: 1; }
  .edge--both--reverse:before, .edge--both--reverse:after {
    background: inherit;
    background-image: none;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0; }
  .edge--both--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 0; }

.-berry {
  background: #b52b4a; }

.-blue {
  background: #41ade5; }

.-orange {
  background: #de6628; }

.-green {
  background: #5e9b42; }

.block {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 0 200px;
  padding: 20% 20px;
  text-align: center; }

h1 {
  font-size: 32px;
  font-weight: 500; }

p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0.5em; }

body {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

.overflow--wrap {
  overflow-x: hidden; }

.header {
  background: rgba(0, 0, 0, 0.66) url("../img/header-background-min.png");
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  margin-top: 70px;
  width: 273px;
  height: 273px;
  border-radius: 50%;
  background: black url("../img/logo-min.png") no-repeat center;
  margin-bottom: 80px; }

.header__title {
  font-size: 49px;
  line-height: 62px;
  text-transform: uppercase;
  font-family: "Open Sans";
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px; }
  .header__title-bold {
    font-weight: 700; }

.zip {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 334px;
  min-height: 334px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28), 0 0 3px rgba(0, 0, 0, 0.04);
  border-radius: 1px;
  margin-bottom: -113px; }
  .zip__input {
    box-sizing: border-box;
    padding: 12px 16px;
    margin-top: 33px;
    margin-bottom: 25px;
    width: 266px;
    min-height: 38px;
    font-size: 15px;
    font-weight: 400;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.09);
    border-radius: 2px 1px 1px 2px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff; }
  .zip img {
    margin-bottom: 25px; }
  .zip__caption {
    color: #938e8e;
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px; }
  .zip__button {
    box-sizing: border-box;
    width: 192px;
    min-height: 45px;
    border-radius: 1px;
    background-color: #227dd3;
    border: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px; }

.advantages {
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 859px;
  margin: auto;
  margin-bottom: 110px;
  margin-top: 160px; }
  .advantages__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    flex-basis: 390px;
    margin: auto; }
    @media (max-width: 780px) {
      .advantages__item {
        padding-bottom: 20px; } }
  .advantages__text-flex-wrap {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 266px;
    justify-content: center; }
  .advantages__title {
    margin: 0;
    color: #000000;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2; }
  .advantages__caption {
    margin: 0;
    color: #4f4e4e;
    font-size: 14px; }

.page-content {
  background-color: #308355; }

.main__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #5fc18b url(../img/tabs-min.png) no-repeat calc(50% - 138px) 61px;
  position: relative;
  clip-path: polygon(100% 0%, 100% 60%, 0% 100%, 0% 0%); }
  @media (max-width: 480px) {
    .main__content {
      clip-path: polygon(100% 0%, 100% 64%, 0% 72%, 0% 0%); } }

.main__title {
  margin-top: 274px;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 35px; }

.main__text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: 14rem; }
  @media (max-width: 768px) {
    .main__text {
      padding-bottom: 21rem; } }
  .main__text p {
    padding: 0 15px;
    max-width: 648px; }

.application {
  margin-top: -308px;
  padding-top: 308px;
  background: #44a36f;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  clip-path: polygon(100% 6%, 100% 100%, 0% 100%, 0% 42%); }
  @media (max-width: 866px) {
    .application {
      clip-path: polygon(100% 6%, 100% 100%, 0% 100%, 0% 32%);
      padding-bottom: 130px; } }
  @media (max-width: 480px) {
    .application {
      padding-top: 120px;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 5%); } }
  .application img {
    max-width: 100%; }
    @media (max-width: 1076px) {
      .application img {
        margin-left: -22%; } }
    @media (max-width: 320px) {
      .application img {
        margin-left: -37%; } }
  .application__text--wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 55px; }
    @media (max-width: 480px) {
      .application__text--wrap {
        margin: 0;
        padding: 0 10px; } }
  .application__title {
    margin: 0;
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 25px; }
  .application__caption {
    max-width: 500px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px; }
  .application__button {
    background-color: transparent;
    padding: 12px 35px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 27px;
    font-weight: 600; }

.map {
  position: relative; }
  .map__image {
    width: 100%;
    min-height: 635px; }
  .map__form {
    box-sizing: border-box;
    padding: 111px 72px 45px  81px;
    width: 430px;
    height: 430px;
    border-radius: 48%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 161px;
    left: calc(50% - 215px);
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09); }
  .map__input {
    box-sizing: border-box;
    padding: 10px 12px;
    margin-bottom: 13px;
    min-width: 277px;
    border: 1px solid #d8d8d8; }
  .map__textarea {
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 32px;
    min-width: 277px;
    min-height: 82px;
    border: 1px solid #d8d8d8; }
  .map__form--button {
    background-size: 100%;
    width: 66px;
    min-height: 67px;
    border-radius: 50%;
    border: none;
    background: url("../img/ok-button.png") no-repeat; }

.footer {
  background-color: #5fc18b;
  text-align: center;
  padding: 20px; }
  .footer__copyrights-link {
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration: none; }
